window,
button,
label,
grid,
drawingarea {
    background-color: #ADD8E6; /* LightBlue */
    color: #333333; /* DarkGrey */
    font-family: 'Courier New', monospace;
    border-radius: 0px;
    font-size: large;
    font-weight: bold;
}

@keyframes pulse {}