window,
button,
label,
grid,
drawingarea {
    background-color: #F0F8FF; /* AliceBlue */
    color: #333333; /* Lighter gray for softer contrast */
    font-family: 'Courier New', monospace;
    border-radius: 0px;
    font-size: large;
    font-weight: bold;
}
button {
    background: linear-gradient(to right, #1E90FF, #00008B); /* Lighter DodgerBlue to DarkBlue */
    color: #FFFFFF; /* White */
    border-color: #1E90FF; /* Lighter DodgerBlue */
    border-radius: 0;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(to right, #00008B, #1E90FF); /* DarkBlue to Lighter DodgerBlue */
    color: #FFFFFF; /* White */
    border-color: #1E90FF; /* Lighter DodgerBlue */
}
.alive {
    background: #00FF7F; /* SpringGreen */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5), 0 0 10px 5px rgba(0, 0, 127, 0.5), 0 0 20px 10px rgba(0, 0, 127, 0.5); /* SpringGreen */
    border-color: #008000; /* Green */
    animation: pulse 5s ease-in-out infinite;
}

.young {
    background: #32CD32; /* LimeGreen */
    box-shadow: 0 0 5px 2px rgba(50, 205, 50, 0.5), 0 0 10px 5px rgba(50, 205, 50, 0.5), 0 0 20px 10px rgba(50, 205, 50, 0.5); /* LimeGreen */
    border-color: #006400; /* DarkGreen */
    animation: pulse 5s ease-in-out infinite;
}

.old {
    background: #20B2AA; /* LightSeaGreen */
    box-shadow: 0 0 4px 2px rgba(32, 178, 170, 0.5), 0 0 8px 4px rgba(32, 178, 170, 0.5), 0 0 16px 8px rgba(32, 178, 170, 0.5); /* LightSeaGreen */
    border-color: #008080; /* Teal */
    animation: pulse 5s ease-in-out infinite;
}

.veteran {
    background: linear-gradient(to right, #00008B, #00008B); /* DarkBlue */
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5), 0 0 8px 4px rgba(0, 0, 0, 0.5), 0 0 16px 8px rgba(0, 0, 0, 0.5); /* DodgerBlue */
    border-color: #00008B; /* DarkBlue */
    animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(30, 144, 255, 0.7); /* Lighter DodgerBlue */
    }

    50% {
        box-shadow: 0 0 0 20px rgba(30, 144, 255, 0.3); /* Lighter DodgerBlue */
    }

    100% {
        box-shadow: 0 0 0 0 rgba(30, 144, 255, 0); /* Lighter DodgerBlue */
    }
}

.window {
    background: #F0F8FF; /* AliceBlue */
    border: 2px solid #1E90FF; /* Lighter DodgerBlue */
    border-radius: 0;
    border-color: #1E90FF; /* Lighter DodgerBlue */
}

drawingarea {
    background: #F0F8FF; /* AliceBlue */
    border: 2px solid #1E90FF; /* Lighter DodgerBlue */
    border-radius: 0;
    border-color: #1E90FF; /* Lighter DodgerBlue */
}

.transform {
    animation: pulse 5s ease-in-out infinite;
}
