window,
button,
label,
grid,
drawingarea {
    background-color: #2B2B2B; /* Dark gray */
    color: #FFFFFF; /* White */
    font-family: 'Courier New', monospace;
    border-radius: 0px;
    font-size: large;
    font-weight: bold;
}

button {
    background: #B22222; /* Firebrick */
    color: #FFFFFF; /* White */
    border-color: #B22222;
    border-radius: 0;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 0 10px #B22222;
    background: #8B0000; /* Dark red */
    color: #FFFFFF; /* White */
    border-color: #B22222;
}

.alive {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #FF6347; /* Tomato */
    border-color: #FF4500; /* OrangeRed */
    animation: pulse 5s ease-in-out infinite;
}

.young {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #FF4500; /* OrangeRed */
    border-color: #FF0000; /* Red */
    animation: pulse 5s ease-in-out infinite;
}

.old {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #B22222; /* Firebrick */
    border-color: #8B0000; /* Dark red */
    animation: pulse 5s ease-in-out infinite;
}

.veteran {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #8B0000; /* Dark red */
    border-color: #8B0000; /* Dark red */
}

.window {
    background: #2B2B2B; /* Dark gray */
    border: 2px solid #B22222; /* Firebrick */
    border-radius: 0;
    border-color: #B22222; /* Firebrick */
}

drawingarea {
    background: #2B2B2B; /* Dark gray */
    border: 2px solid #B22222; /* Firebrick */
    border-radius: 0;
    border-color: #B22222; /* Firebrick */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(178, 34, 34, 0.7); /* Firebrick */
    }
    50% {
        box-shadow: 0 0 0 10px rgba(178, 34, 34, 0.3); /* Firebrick */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(178, 34, 34, 0); /* Firebrick */
    }
}

.transform {
    animation: pulse 5s ease-in-out infinite;
}