window,
button,
label,
grid,
drawingarea {
    background-color: #FFFFFF; /* Bright white */
    color: #333333; /* Lighter gray for softer contrast */
    font-family: 'Courier New', monospace;
    border-radius: 0px;
    font-size: large;
    font-weight: bold;
}

button {
    background: #32CD32; /* LimeGreen */
    color: #FFFFFF; /* White */
    border-color: #32CD32;
    border-radius: 0;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 0 10px #32CD32;
    background: #008000; /* Green */
    color: #FFFFFF; /* White */
    border-color: #32CD32;
}

.alive {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ADFF2F; /* GreenYellow */
    border-color: #7CFC00; /* LawnGreen */
    animation: pulse 5s ease-in-out infinite;
}

.young {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #32CD32; /* LimeGreen */
    border-color: #008000; /* Green */
    animation: pulse 5s ease-in-out infinite;
}

.old {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #008000; /* Green */
    border-color: #006400; /* DarkGreen */
    animation: pulse 5s ease-in-out infinite;
}

.veteran {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #006400; /* DarkGreen */
    border-color: #228B22; /* ForestGreen */
    animation: pulse 5s ease-in-out infinite;
}

.window {
    background: #FFFFFF; /* White */
    border: 2px solid #32CD32; /* LimeGreen */
    border-radius: 0;
    border-color: #32CD32; /* LimeGreen */
}

drawingarea {
    background: #FFFFFF; /* White */
    border: 2px solid #32CD32; /* LimeGreen */
    border-radius: 0;
    border-color: #32CD32; /* LimeGreen */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(50, 205, 50, 0.7); /* LimeGreen */
    }

    50% {
        box-shadow: 0 0 0 10px rgba(50, 205, 50, 0.3); /* LimeGreen */
    }

    100% {
        box-shadow: 0 0 0 0 rgba(50, 205, 50, 0); /* LimeGreen */
    }
}

.transform {
    animation: pulse 5s ease-in-out infinite;
}

button {
    background: #32CD32; /* LimeGreen */
    color: #FFFFFF; /* White */
    border-color: #32CD32;
    border-radius: 0;
    transition: 0.3s;
}

body {
    font-weight: bold;
}