window,
button,
label,
grid,
drawingarea {
    background-color: #ADD8E6; /* LightBlue */
    color: #333333; /* DarkGrey */
    font-family: 'Courier New', monospace;
    border-radius: 0px;
    font-size: large;
    font-weight: bold;
}

button {
    background: #87CEFA; /* LightSkyBlue */
    color: #FFFFFF; /* White */
    border-color: transparent;
    border-radius: 0;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(to right, #1E90FF, #4169E1); /* DodgerBlue to RoyalBlue */
    color: #FFFFFF; /* White */
    border-color: #a7a3a0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.alive {
    background: linear-gradient(to right, #ADD8E6, #87CEFA); /* LightBlue to LightSkyBlue */
    color: #333333; /* DarkGrey */
    box-shadow: 0 0 10px 5px rgba(173, 216, 230, 0.08), 0 0 10px 5px rgba(135, 206, 250, 0.146), 0 0 10px 5px rgba(135, 206, 250, 0), 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.young {
    background: linear-gradient(to right, #87CEFA, #1E90FF); /* LightSkyBlue to DodgerBlue */
    color: #333333; /* DarkGrey */
    box-shadow: 0 0 10px 5px rgba(135, 206, 250, 0.08), 0 0 10px 5px rgba(30, 144, 255, 0.146), 0 0 10px 5px rgba(30, 144, 255, 0), 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.old {
    background: linear-gradient(to right, #1E90FF, #4169E1); /* DodgerBlue to RoyalBlue */
    box-shadow: 0 4px 8px 0 rgba(30, 144, 255, 0.2), 0 6px 20px 0 rgba(65, 105, 225, 0.19), 0 8px 10px 0 rgba(65, 105, 225, 0.2);
    color: #FFFFFF; /* White */
}

.veteran {
    background: linear-gradient(to right, #4169E1, #0000CD); /* RoyalBlue to MediumBlue */
    box-shadow: 0 4px 8px 0 rgba(65, 105, 225, 0.2), 0 6px 20px 0 rgba(0, 0, 205, 0.19), 0 8px 10px 0 rgba(0, 0, 205, 0.2);
    color: #FFFFFF; /* White */
}

.window {
    background: rgba(70, 130, 180, 0.5); /* SteelBlue */
    border: 2px solid #1E90FF; /* DodgerBlue */
    border-radius: 0;
    color: #FFFFFF; /* White */
}

drawingarea {
    background: #ADD8E6; /* LightBlue */
    border: 2px solid #1E90FF; /* DodgerBlue */
    border-radius: 0;
    color: #333333; /* DarkGrey */
}

@keyframes pulse {}

body {
    background-color: #ADD8E6; /* LightBlue */
    color: #333333; /* DarkGrey */
        font-size: large;
    font-weight: bold;
}
