window,
button,
label,
grid,
drawingarea {
    background-color: #FFDAB9;
    /* PeachPuff */
    color: #8B4513;
    /* SaddleBrown */
    font-family: 'Courier New', monospace;
    border-radius: 0px;
    font-size: large;
    font-weight: bold;
}

button {
    background: #181414;
    background-color: rgba(170, 170, 170, 0.9);
    color: #FFFFFF;
    /* White */
    border-color: transparent;
    /* Tomato */
    border-radius: 0;
    transition: 0.3s;

}

button:hover {

    background: linear-gradient(to right, #FF4500, #FF6347);
    /* OrangeRed to Tomato */
    color: #FFFFFF;
    /* White */
    border-color: #a7a3a0;
    /* Tomato */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.alive {
    background: linear-gradient(to right, #a33521, #641b00);
    /* Tomato to OrangeRed */
    background: #FFDAB9;
    /* PeachPuff */
    color: #a7a3a0;
    /* SaddleBrown */
    background-color: #FFDAB9;
    /* animation: pulse 5s ease-in-out infinite; */
    box-shadow:
        0 0 10px 5px rgba(203, 174, 168, 0.08),
        0 0 10px 5px rgba(203, 174, 168, 0.146),
        0 0 10px 5px rgba(203, 174, 168, 0),
        0 0 10px 5px rgba(0, 0, 0, 0.5)
}

.young {
    background: linear-gradient(to right, #a33521, #641b00);
    /* Tomato to OrangeRed */
    background-color: #6c5551;
    /* Tomato */
    border-color: #FF4500;
    /* OrangeRed */
    color: #a7a3a0;
    /* SaddleBrown */
    box-shadow:
        0 0 10px 5px rgba(203, 174, 168, 0.08),
        0 0 10px 5px rgba(203, 174, 168, 0.146),
        0 0 10px 5px rgba(203, 174, 168, 0),
        0 0 10px 5px rgba(0, 0, 0, 0.5)
}

.old {
    background: linear-gradient(to right, #FF4500, #895046);
    /* OrangeRed to Tomato */
    box-shadow: 0 4px 8px 0 rgba(161, 94, 82, 0.2), 0 6px 20px 0 rgba(255, 99, 71, 0.19), 0 8px 10px 0 rgba(255, 99, 71, 0.2);
    background-color: #40332e;
    /* OrangeRed */
    border-color: #FF6347;
    /* Tomato */
}

.veteran {
    background: linear-gradient(to right, #231d1b, #181414);
    /* OrangeRed to Tomato */
    box-shadow: 0 4px 8px 0 rgba(255, 99, 71, 0.2), 0 6px 20px 0 rgba(255, 99, 71, 0.19), 0 8px 10px 0 rgba(255, 99, 71, 0.2);
    background-color: #2a2626;
    /* Tomato */
    border-color: #FF4500;
    /* OrangeRed */
}

.window {
    background: rgba(90, 90, 110, 0.5);
    background-color: rgba(90, 90, 110, 0.5);
    border: 2px solid #FF6347;
    /* Tomato */
    border-radius: 0;
    border-color: #FF6347;
    /* Tomato */
}

drawingarea {
    background: #FFDAB9;
    /* PeachPuff */
    border: 2px solid #FF6347;
    /* Tomato */
    border-radius: 0;
    border-color: #FF6347;
    /* Tomato */
}

@keyframes pulse {}

.transform {
    transform: rotate(180deg);
    transition: 0.3s;
}